@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-image: url('./assets/bg2.png');
  background-size: cover;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
}

