.add-expense__form {
  display: flex;
  align-items: center;
}

.add-expense__controls {
  display: flex;
  gap: 2%;
  row-gap: 16px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.add-expense__control {
  display: flex;
  flex-direction: column;
  width: 31%;
}

@media (max-width: 800px) {
  .add-expense__control {
    width: 43%;
  }
}
@media (max-width: 600px) {
  .add-expense__control {
    width: 100%;
  }
}

.add-expense__control label {
  color: white;
}

.add-expense__control input {
  border-bottom: 1px solid white;
  width: 100%;
  height: 30px;
}
.add-expense__control input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.add-expense__actions {
  padding-left: 24px;
}
.add-expense__actions button {
  cursor: pointer;
  background: linear-gradient(
    -65deg,
    rgba(255, 255, 255, 0.15),
    rgba(136, 200, 255, 0.3)
  );
  backdrop-filter: blur(5px);
  padding: 0.5rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  line-height: 1;
  margin: 0;
  padding: 8px;
  transition: 0.25s;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #88c8ff,
    0 0 45px #88c8ff, 0 0 55px #88c8ff, 0 0 70px #88c8ff, 0 0 80px #88c8ff;
}

.add-expense__actions button:hover {
  box-shadow: 0 0 6px #fff, 0 0 12px #fff, 0 0 18px #fff, 0 0 30px #88c8ff,
    0 0 45px #88c8ff, 0 0 55px #88c8ff, 0 0 70px #88c8ff, 0 0 80px #88c8ff;
}

.add-expense__actions button svg {
  fill: white;
  width: 24px;
  height: 24px;
  filter: drop-shadow(0 0 6px #fff);
}

.add-expense__error {
  width: 100%;
  color: red;
  text-align: center;
  margin-top: 8px;
}

@media (max-width: 600px) {
  .add-expense__error {
    text-align: left;
  }
}
